[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydantic = "*"
pandas = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
ruff = "*"
eia = {editable = true, path = "."}

[requires]
python_version = "3.9"

[scripts]
lint = "ruff check ."
