[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pydantic = "*"
pandas = "*"
ratelimit = "*"

[dev-packages]
pytest = "*"
jupyter = "*"
ruff = "*"
eia = {editable = true, path = "."}
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.9"
